.App-header {
  background-color: #72a1bf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App{
  background-color: #72a1bf;
}

.card{
  background: #074770 0% 0% no-repeat padding-box;
  max-width: 1037px;
  min-width: 1037px;
  max-height: 670px;
  min-height: 670px;
  border-radius: 36px;
}

label{
  font-size: 1.2rem;
  color: white;
}

.btn-primary{
  background: #C6D1D9 0% 0% no-repeat padding-box;
  border-radius: 21px;
  opacity: 1;
  color: #074770;
  font-weight: bolder;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}